<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @critic.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @critic.comment %>
  <%= @critic.user.email %>
</p>


<%= link_to 'Edit', edit_critic_path(@critic) %> |
<%= link_to 'Back', critics_path %>
