

<div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10">
          <div class="col-md-8">
            <div class="panel panel-primary">
              <div class="panel-heading"><p><h1 class="review_title" display: inline;><%= @movie.title %></h1><h2>(<%= @movie.year %>)</h2></p></div>
              <div class="panel-body" >
                <div class="star-rating" data-score=<%= @avg_review %>></div>
                <em><%= "#{@reviews.length} reviews" %></em>
                <p><%= @movie.description %></p>
              </div>
              <div>
                <table>
                <% @movie.actors.each do |actor| %>
                  <tr>
                    <td><img class="img-responsive"><%= image_tag actor.image.url(:tiny) %></img></td>
                    <td><%= actor.name %></td> 
                    <td>as</td>
                  </tr>
                <% end %>
                </table>
              </div>
            </div>
            <% if @reviews.blank? %>
              <h3>No reviews available.</h3>
              <%= link_to "Write the first!", new_movie_review_path(@movie), class:"btn btn-danger" %>
            <% else %>
              <%= link_to "Write a review!", new_movie_review_path(@movie) %><br><br>
              <% @reviews.each do |review| %>
                <div class="panel panel-default">
                  <div class="reviews">
                    <div class="star-rating" data-score=<%= review.rating %>></div>
                    <p><%= review.comment %></p>
                    <p><strong>Created by:</strong> <%= review.user.email.split('@').first %></p>
                    <% if review.user_id == current_user.id %>
                      <%= link_to "Edit!", edit_movie_review_path(review.movie_id, review.id) %>
                      
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          
          <div class="col-md-4 ">  
            <img class="img-responsive"><%= image_tag @movie.image.url(:medium) %></img>
            
            <%= link_to 'Edit', edit_movie_path(@movie) %> |
            <%= link_to 'Back', movies_path %>
          </div>
        </div>
      </div>
    </div>
</div>


<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  })
</script>