<div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10">
          <div class="col-md-8">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td><strong>Title:</strong></td>
                    <td><%= @movie.title %>(<%= @movie.year %>)</td>
                  </tr>
                  <tr>
                    <td><strong>Created By:</strong></td>
                    <td><%= @movie.user.email.split('@').first %></td>
                  </tr>
                  <tr>
                    <td><strong>Description:</strong></td>
                    <td></td>
                  </tr>
                  
                </tbody>
              </table>
              <%= link_to 'Write a review!', new_movie_review_path(@movie) %>
            </div>
            <div>
            <p><h1 class="review_title"><%= @movie.title %></h1><h2>(<%= @movie.year %>)</h2></p>
            <p><%= @movie.description %></p>
            
            <% if @reviews.blank? %>
              <h3>No reviews available.</h3>
              <%= link_to "Write the first!", new_movie_review_path(@movie), class:"btn btn-danger" %>
            <% else %>
              <% @reviews.each do |review| %>
                <div class="reviews">
                  <p><%= review.rating %></p>
                  <p><%= review.comment %></p>
                </div>
              <% end %>
            <% end %>
          </div>
          </div>
          <div class="col-md-4 ">  
            <img class="img-responsive"><%= image_tag @movie.image.url(:medium) %></img>
            
            <%= link_to 'Edit', edit_movie_path(@movie) %> |
            <%= link_to 'Back', movies_path %>
          </div>
        </div>
      </div>
    </div>
</div>


