

<div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10">
          <div class="col-md-8">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <p><h1 class="review_title" display: inline;><%= @movie.title %></h1><h2>(<%= @movie.year %>)</h2></p>
              </div>
              <div class="panel-body" >
                <div class="panel">
                  <div class="star-rating" data-score=<%= @avg_review %>></div>
                  <em><%= "#{@reviews.length} reviews" %></em>
                  <p><%= @movie.description %></p>
                </div>
                <div class="panel panel-warning">
                  <% if @movie.critic.blank? %>
                    <%= link_to "Write a critic", new_movie_critic_path(@movie) %>
                  <% else %>
                   <div class="panel-heading"><h2>Critic from <%= @movie.critic.user.email.split('@').first %></h2></div>
                   <div class="panel-body">
                     <div class="star-rating" data-score=<%= @movie.critic.rating %>></div>
                     <div><%= @movie.critic.comment %></div>
                   </div>
                  <% end %>
                </div>
                <div class="panel">
                  <table>
                  <% @movie.actors.each do |actor| %>
                    <tr>
                      <td><img class="img-responsive"><%= image_tag actor.image.url(:tiny) %></img></td>
                      <td><%= link_to actor.name, actor_path(actor.id) %></td> 
                      <td>as</td>
                    </tr>
                  <% end %>
                  </table>
                </div>
            </div>
          </div>
          </div>
          <div class="col-md-4 ">  
            <img class="img-responsive"><%= image_tag @movie.image.url(:medium) %></img>
            
            <%= link_to 'Edit', edit_movie_path(@movie) %> |
            <%= link_to 'Back', movies_path %>
          </div>
        </div>
      </div>
      <div class="row">
            <% if @reviews.blank? %>
              <h3>No reviews available.</h3>
              <%= link_to "Write the first!", new_movie_review_path(@movie), class:"btn btn-danger" %>
            <% else %>
              <%= link_to "Write a review!", new_movie_review_path(@movie) %><br><br>
              <% @reviews.each do |review| %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p><strong>From:</strong> <%= review.user.email.split('@').first %> at <%= review.created_at %></p>
                  </div>
                  <div class="reviews">
                    <div class="star-rating" data-score=<%= review.rating %>></div>
                    <div class="relative"><p><%= review.comment %></p></div>
                    <% if review.user_id == current_user.id %>
                      <%= link_to "Edit!", edit_movie_review_path(review.movie_id, review.id) %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
    </div>
</div>


<script>
  $('.star-rating').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    path: '',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  })
</script>