<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "MovieBlog", '#', id: "logo" %>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <greeting>
          <% if signed_in? %>
                 Hello, <%= current_user.email.split('@').first %> !
          <% end %>
        </greeting>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Help",   help_path %></li>
      <li>
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Log in", new_user_session_path  %>
        <% end %>
      </li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
    </div>
  </div>
</nav>