<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>
<body>
  <%= render 'layouts/header' %>
    
    
    
    
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <div class="container col-lg-10">
        <%= yield %>
      </div>
    
      <div class="container col-lg-2">
        <div class="well sidebar-nav">
              <h3>Sidebar</h3>
              <ul class="nav nav-list">
                <%= render 'layouts/nav_items' %>
              </ul>
            </div><!--/.well -->
      </div>
      
      
      </div><!--/row-->
      <%= render 'layouts/footer' %>
    </div>
      
</body>
</html>